* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Play', 'Arial', sans-serif;
    font-size: $fontSize;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
  }
  
  .container {
    width: $containerWidth;
    padding: 0 10px;
    margin: 0 auto;
  }

  footer {
    position: relative;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  
  ul {
    padding: 0;
  
    li {
        list-style: none;
    }
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }