@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

footer {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero {
  background: url("../images/hero/hero.png") 80% center no-repeat;
  background-color: #f5f5f5;
  height: 100vh;
  color: #292929;
}

.hero__container {
  padding-top: 24px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__title {
  max-width: 400px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero__description {
  max-width: 330px;
  margin-bottom: 36px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 21px;
  line-height: 1.2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}

.menu__item:last-child {
  margin-right: 0;
}

.munu__link {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.munu__link:hover {
  text-decoration: underline;
}

.phone__icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.phone__number {
  font-size: 18px;
  line-height: 1;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__item {
  margin-right: 8px;
}

.benefit__item:last-child {
  margin-right: 0;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.benefit__text {
  width: 114px;
  line-height: 1;
}

.features__title {
  margin-bottom: 18px;
}

.features__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3%;
  text-align: center;
}

.features__item:first-child {
  margin-left: 0;
}

.features__item:last-child {
  margin-right: 0;
}

.features__icon {
  width: 128px;
  height: 128px;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #F2F5F4;
  position: relative;
}

.features__icon--img {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features__name {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
}

.reviews__display {
  margin-bottom: 15px;
  padding: 42px 0;
  padding-left: 42px;
  background-color: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewievs__switch-item {
  margin-right: 8px;
}

.rewievs__switch-item:last-child {
  margin-right: 0;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 39px;
}

.reviews__photo {
  width: 253px;
  height: 264px;
}

.reviews__subtitle {
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 700;
}

.reviews__name {
  margin-top: 38px;
  font-size: 18px;
  font-weight: 700;
}

.contact-form {
  background: url("../images/form-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}

.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
  margin-bottom: 14px;
}

.form__block:last-child {
  margin-right: 0;
}

.form__name {
  font-size: 16px;
}

.form__field {
  width: 100%;
  padding: 18px 12px;
  background: #FFFFFF;
  border: 4px solid transparent;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
}

.form__field:focus {
  outline: none;
  border: 4px solid #e01f3d;
}

.form__field--textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__controls-item {
  margin-right: 24px;
  margin-bottom: 16px;
}

.form__buttons {
  margin-top: 44px;
}

.button {
  padding: 18px 41px;
  border: 1px solid transparent;
  border-radius: 100px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button--red {
  color: #fff;
  background-color: #e01f3d;
  text-transform: uppercase;
}

.button--red:hover {
  color: #e01f3d;
  background-color: #fff;
  border: 1px solid #e01f3d;
}

.button--transparent {
  color: #fff;
  background-color: transparent;
}

.button--transparent:hover {
  color: #e01f3d;
}

.section {
  height: 100vh;
  min-height: 750px;
  padding-top: 105px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.section__subtitle {
  max-width: 590px;
  margin: auto;
  text-align: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.interactive-avatar__link {
  display: block;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.interactive-avatar__link:hover {
  border: 4px solid #e01f3d;
}

.interactive-avatar__link--active {
  border: 4px solid #e01f3d;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.radio--checkbox > .radio__visible {
  border-radius: 4px;
}

.radio--checkbox > .radio__visible:before {
  background: url("../images/ckeckmark.svg") center center no-repeat;
}

.radio--checkbox > .radio__elem {
  display: none;
}

.radio--checkbox > .radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.radio__visible:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #e01f3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
/*# sourceMappingURL=style.css.map */